---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "../../components/sections/Navbar.astro";
import ContentHeader from "../../components/content/ContentHeader.astro";
import ArticleInfo from "../../components/content/ArticleInfo.astro";
import ArticleBody from "../../components/content/ArticleBody.astro";
import Breadcrumb from "../../components/common/Breadcrumb.astro";
import KnowledgeBox from "../../components/article/KnowledgeBox.astro";
import ArticlePreview from "../../components/content/ArticlePreview.astro";
import DiagramPreview from "../../components/content/DiagramPreview.astro";
import VideoPreview from "../../components/content/VideoPreview.astro";
import { articles } from "../../data/articles";
export function getStaticPaths() {

    return articles.map((article) => ({

        params: {

            slug: article.slug,

        },

        props: {

            article,

        },

    }));

}

const { article } = Astro.props;
---

<BaseLayout

title={article.seoTitle ?? article.title}

description={article.seoDescription}

image={article.image}

>

    <Navbar />

    <section class="section">

        <div class="container">

            <Breadcrumb
            items={[
                {
                    label:"Home",
                    href:"/"
                },
                {
                    label:"Artikel",
                    href:"/article"
                },
                {
                    label:article.title,
                    href:"#"
                }
]}
/>

            <ContentHeader content={article} />

            <ArticleInfo content={article} />
            
            <ArticleBody content={article} />

            {
            article.knowledgeBox && (
            
            <KnowledgeBox
            type={article.knowledgeBox.type}
            title={article.knowledgeBox.title}
            content={article.knowledgeBox.content}
            />
            
            )
            }

            {
            article.relatedArticles && (
            <ArticlePreview
            slugs={article.relatedArticles}
            />
            )
            }

            {
            article.relatedDiagrams && (
            <DiagramPreview
            slugs={article.relatedDiagrams}
            />
            )
            }

            {
            article.relatedVideos && (
            <VideoPreview
            slugs={article.relatedVideos}
            />
            )
            }
           
        </div>

    </section>

</BaseLayout>