---
import "../../styles/content/content-header.css";
import CategoryBadge from "../ui/CategoryBadge.astro";
import LevelBadge from "../ui/LevelBadge.astro";

const { content } = Astro.props;

const timeInfo =
    content.duration ??
    content.readingTime ??
    null;
---

<header class="content-header">

    <div class="content-meta">

        <div class="category-list">

            {

                content.categories.map((category:string)=>(

                    <CategoryBadge
                        category={category}
                    />

                ))

            }

        </div>

        <LevelBadge
        level={content.level}
/>

    </div>

    <h1>
        {content.title}
    </h1>

    <div class="content-info">

        <span>
            📅 {content.publishedAt}
        </span>

        {

            timeInfo && (

                <span>

                    ⏱ {timeInfo}

                </span>

            )

        }

    </div>

    <p class="content-description">

        {content.excerpt}

    </p>

</header>