---
import Card from "../ui/Card.astro";
import CategoryBadge from "../ui/CategoryBadge.astro";
import "../../styles/cards/diagram-card.css";

const {
    title,
    description,
    thumbnail,
    diagramNumber,
    categories = [],
    href = "#",
} = Astro.props;
---

<Card>

    <a href={href} class="diagram-thumbnail">

        <img
            src={thumbnail}
            alt={title}
        />

    </a>

    <div class="diagram-card-body">

        <div class="category-list">

        {
            categories.map((category: string) => (

                <CategoryBadge category={category} />

            ))
        }

    </div>

        <span class="diagram-number">
            
            📘 Diagram #{diagramNumber}

        </span>

        <h3>{title}</h3>

        <p class="diagram-description">
            {description}
        </p>

        <a href={href} class="diagram-link">

            Lihat Diagram →

        </a>

    </div>

</Card>