---
import Card from "../ui/Card.astro";
import Badge from "../ui/Badge.astro";
import Thumbnail from "../ui/Thumbnail.astro";
import "../../styles/cards/video-card.css";

const {
    title,
    description,
    duration,
    category,
    image,
    href = "#",
    slug = "",
} = Astro.props;

const url = slug ? `/video/${slug}` : href;
---

<Card>

    <Thumbnail
    image={image}
    alt={title}
    duration={duration}
    href={url}
    />

    <div class="video-card-body">

        <Badge>
            {category}
        </Badge>

        <h3>{title}</h3>

        <p class="video-description">
            {description}
        </p>

        <a href={url} class="video-link">
            <span>Tonton Sekarang</span>
            <span class="arrow">→</span>
        </a>

    </div>

</Card>