---
import "../../styles/sections/latest-articles.css";
import SectionTitle from "../ui/SectionTitle.astro";
import { articles } from "../../data/articles";
const latest = articles[0];
---

<section class="latest-articles section">

    <div class="container">

        <SectionTitle

title="📰 Artikel Terbaru"

href="/article"

/>

        <div class="article-featured">

            <div class="article-image">
                
                <img
                src={latest.thumbnail}
                alt={latest.title}
                
                />

</div>

            <div class="article-content">

                <span class="category">
                    EDUKASI
                </span>

                <h3>
                    {latest.title}
                </h3>

                <p>
                    {latest.excerpt}
                </p>

                <a
                href={`/article/${latest.slug}`}
                class="btn">
                Baca Artikel
            </a>

            </div>

        </div>

    </div>

</section>