---
import Card from "../ui/Card.astro";
import Badge from "../ui/Badge.astro";
import Thumbnail from "../ui/Thumbnail.astro";
import "../../styles/cards/video-card.css";

const {
    title,
    description,
    duration,
    category,
    image,
    href = "#",
} = Astro.props;
---

<Card>

    <Thumbnail
        image={image}
        alt={title}
        duration={duration}
        href={href}
    />

    <div class="video-card-body">

        <Badge>
            {category}
        </Badge>

        <h3>{title}</h3>

        <p class="video-description">
            {description}
        </p>

        <a href={href} class="video-link">
            <span>Tonton Sekarang</span>
            <span class="arrow">→</span>
        </a>

    </div>

</Card>